{{extend 'grid.html'}}

{{block title}}
My Homepage
{{end}}

{{block toolbox}}
<div class="btn-group">
  <a class="btn btn-default{{if no_items:}} disabled{{pass}}" href="{{=URL('trade', 'new')}}">
    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
    Propose a trade
  </a>
</div>
<div class="btn-group">
  <a class="btn btn-default" href="{{=URL('item', 'new')}}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add a new item
  </a>
</div>
{{end}}

{{block grid}}
<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">My newest items</h2>
    </div>
    <table class="table list-editor-table">
      {{if not len(newest_items):}}
      <tr>
        <td>No items created</td>
      </tr>
      {{pass}}
      {{for item in newest_items:}}
      <tr>
        <td>
          <a href="{{=URL('item', 'view', args=item.id)}}">
            {{=icon_for_item_type(item.itm_type, label=True)}} <span>{{=item.name}}</span>
          </a>
        </td>
        <td>
          <span class="label label-default">
            <span data-toggle="tooltip" data-original-title="{{=item.created_at}}" class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span class="hide-label">Date Created {{=item.created_at}}</span>
          </span>
        </td>
      </tr>
      {{pass}}
    </table>
  </div>
  <a class="home-col-link" href="{{=URL('box', 'list')}}">View my whole collection</a>
</div>
<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Newest public boxes</h2>
    </div>
    <table class="table list-editor-table">
      {{if not len(newest_boxes):}}
      <tr>
        <td>No public boxes created</td>
      </tr>
      {{pass}}
      {{for box in newest_boxes:}}
      <tr>
        <td>
          <a href="{{=URL('box', 'view', args=box.id)}}">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> <span>{{=box.name}}</span>
          </a>
        </td>
        <td>
          <span class="label label-default">
            <span data-toggle="tooltip" data-original-title="{{=box.created_at}}" class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span class="hide-label">Date Created {{=box.created_at}}</span>
          </span>
        </td>
      </tr>
      {{pass}}
    </table>
  </div>
  <a class="home-col-link" href="{{=URL('find', 'explore')}}">Explore more public boxes</a>
</div>
<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Newly-received trade proposals</h2>
    </div>
    <table class="table list-editor-table">
      {{if not len(received_proposals):}}
      <tr>
        <td>No proposals received</td>
      </tr>
      {{pass}}
      {{for prop in received_proposals:}}
      {{sender = db.auth_user(prop.sender)}}
      <tr{{if prop.status == 'sent':}} class="highlight"{{pass}}>
        <td>
          <a href="{{=URL('trade', 'view', args=prop.id)}}">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>{{=sender.username}}</span>
        </a>
        </td>
        <td>
          {{if prop.status == 'sent':}}
          <span class="label label-info">Received</span>
          {{elif prop.status == 'accepted':}}
          <span class="label label-success">Accepted</span>
          {{elif prop.status == 'rejected':}}
          <span class="label label-danger">Rejected</span>
          {{else:}}
          <span class="label label-default">{{=prop.status.capitalize()}}</span>
          {{pass}}
        </td>
      </tr>
      {{pass}}
    </table>
  </div>
  <a class="home-col-link" href="{{=URL('trade', 'list')}}">View all my trade proposals</a>
</div>
{{end}}
