{{extend 'layout.html'}}

<div class="row">
  <div class="col-xs-12">
    <div id="home-picture">
      <div class="col-xs-8">
        <div id="home-picture-overlay-heading" class="home-picture-overlay">
          <h1>Welcome to {{=APP_NAME}}</h1>
          <p>This awesome application is the very best way to trade and show-off your media collection.</p>
          <p>You can use it to keep track of your video games, to show off that signed Lord of The Rings boxset, or maybe even to trade your limited edition Kaiser Chiefs CD for something new!</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div id="home-picture-overlay-form" class="home-picture-overlay">
          <h2>Get started now&hellip;</h2>
          {{=registerform}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    TODO: SOME MORE PROMOTIONAL VERBIAGE HERE
  </div>
</div>
