{{extend 'layout.html'}}

<div class="row">
  <div class="alert alert-info">
    <strong>Note to markers:</strong>
    Users <kbd>user1</kbd> through to <kbd>user5</kbd> have been created
    with passwords <kbd>password1</kbd> through to <kbd>password5</kbd>.
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="home-picture">
      <div class="col-xs-8">
        <div id="home-picture-overlay-heading" class="home-picture-overlay">
          <h1>Welcome to {{=APP_NAME}}</h1>
          <p>This awesome application is the very best way to trade and show-off your media collection.</p>
          <p>You can use it to keep track of your video games, to show off that signed Lord of The Rings boxset, or maybe even to trade your limited edition Kaiser Chiefs <abbr title="Compact Disc">CD</abbr> for something new!</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div id="home-picture-overlay-form" class="home-picture-overlay">
          <h2>Get started now&hellip;</h2>
          {{=registerform}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 promo-col">
    <div class="promo-four-icons">
      {{=icon_for_item_type('book')}}
      {{=icon_for_item_type('cd')}}
      {{=icon_for_item_type('dvd')}}
      {{=icon_for_item_type('game')}}
    </div>
    <h2>Catalogue your media collection</h2>
    <p>Build your very own virtual library of books, albums, movies and games.</p>
  </div>
  <div class="col-xs-4 promo-col">
    <div class="promo-one-icon">
      <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
    </div>
    <h2>Trade your items with other users</h2>
    <p>Harness the power of the community to swap your old stuff for something new.</p>
  </div>
  <div class="col-xs-4 promo-col">
    <div class="promo-one-icon">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    </div>
    <h2>Explore public collections</h2>
    <p>Gain inspiration from other users&rsquo; showcased collections.</p>
  </div>
</div>
