{{dialog_width = 12}}
{{extend 'dialog.html'}}

{{block title}}
Add a new item
{{end}}

{{block title_meta}}
Step 1 of 2
{{end}}

{{block form}}
<p>Select the type of item you wish to add:</p>
<div>
<div class="row">
  <div class="col-xs-3" style="width:20%">
    <a class="new-type-btn btn btn-default" role="button" href="{{=URL('new_of_type', args='book', vars=request.vars)}}">
      {{=icon_for_item_type('book')}}
      {{=ITEM_TYPES['book'].capitalize()}}
    </a>
  </div>
  <div class="col-xs-3" style="width:20%">
    <a class="new-type-btn btn btn-default" role="button" href="{{=URL('new_of_type', args='cd', vars=request.vars)}}">
      {{=icon_for_item_type('cd')}}
      {{=ITEM_TYPES['cd'].capitalize()}}
    </a>
  </div>
  <div class="col-xs-3" style="width:20%">
    <a class="new-type-btn btn btn-default" role="button" href="{{=URL('new_of_type', args='dvd', vars=request.vars)}}">
      {{=icon_for_item_type('dvd')}}
      {{=ITEM_TYPES['dvd'].capitalize()}}
    </a>
  </div>
  <div class="col-xs-3" style="width:20%">
    <a class="new-type-btn btn btn-default" role="button" href="{{=URL('new_of_type', args='game', vars=request.vars)}}">
      {{=icon_for_item_type('game')}}
      {{=ITEM_TYPES['game'].capitalize()}}
    </a>
  </div>
   <div class="col-xs-3" style="width:20%">
    <a class="new-type-btn btn btn-default" role="button" href="{{=URL('new_of_type', args='other', vars=request.vars)}}">
      {{=icon_for_item_type('other')}}
      {{=ITEM_TYPES['other'].capitalize()}}
    </a>
  </div>
</div>
  </div>
{{end}}
