{{extend 'layout.html'}}

<div class="row" id="header-row">
  <div class="col-xs-6">
    <h1 class="main-title">
      {{=item.name}}
    </h1>
  </div>
  <div class="col-xs-6" id="toolbox">
    {{if not guest:}}
    <div class="btn-group btn-group">
      <a class="btn btn-default" href="{{=URL('edit', args=item.id)}}">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit item
      </a>
      <a class="btn btn-default" href="{{=URL('delete', args=item.id)}}">
        <span class="glyphicon glyphicon-trash"></span>
        Delete item
      </a>
    </div>
    {{pass}}
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <div id="item-info-panel" class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Item details</span>
      </div>
      <table id="item-info" class="table table-bordered table-striped">
        <tr>
          <td>Type</td>
          <td>{{=ITEM_TYPES[item.itm_type].capitalize()}}</td>
        </tr>
        {{if item.itm_type in EXTRA_FIELDS:}}
        {{for field in EXTRA_FIELDS[item.itm_type]:}}
        <tr>
          <td>{{=field.label}}</td>
          <td>{{=item[field.name]}}</td>
        </tr>
        {{pass}}
        {{pass}}
        <tr>
          <td>Condition</td>
          <td>{{=item.itm_condition.capitalize()}}</td>
        </tr>
        <tr>
          <td>Monetary Value</td>
          <td>{{=format_pence_as_pounds(item.monetary_value)}}</td>
        </tr>
        <tr>
          <td>Owner</td>
          <td>
            {{if not guest:}}
            You
            {{else:}}
            {{username=item.auth_user.username}}
            {{=A(username, _href=URL('default','profile_page',vars=dict(user=username)))}}
            {{pass}}
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td id="item-desc">{{if item.description:}}{{=item.description}}{{else:}}<em>No description provided</em>{{pass}}</td>
        </tr>
      </table>
    </div>

    {{if not guest:}}
    <div id="item-boxes-panel" class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Boxes containing this item</span>
        <a class="btn btn-default btn-sm" href="{{=URL('add_to_box', args=item.id)}}">
          <span class="glyphicon glyphicon-save-file"></span>
          Add to a box
        </a>
      </div>
      <table class="table list-editor-table">
        {{for box in boxes:}}
        <tr>
          <td>
            <a href="{{=URL('box', 'view', args=box.id)}}">
              <span class="glyphicon glyphicon-inbox"></span> <span>{{=box.name}}</span>
            </a>
          </td>
          <td>
            <form action="{{=URL('remove_from_box', args=[item.id, box.id])}}" method="post">
              <input class="btn btn-default btn-sm" {{if box.unfiled and len(boxes) == 1:}}disabled="disabled"{{pass}}
                     type="submit" value="Remove from this box" />
            </form>
          </td>
        </tr>
        {{pass}}
      </table>
    </div>
    {{pass}}
  </div>
  <div class="col-xs-4">
    <div id="item-cover" class="thumbnail">
      <img alt="{{='Image uploaded by User:\'{0}\' depicting their {1} \'{2}\''.format(item.auth_user.username,ITEM_TYPES[item.itm_type].capitalize(),item.name)}}" src="{{=URL('image', args=item.thumbnail)}}" />
    </div>
  </div>
</div>
