{{dialog_width = 12}}
{{extend 'dialog.html'}}

{{block title}}
{{if prop.parent:}}
Choose items for your counter-offer to {{=target.username}}&rsquo;s proposal
{{else:}}
Choose items to trade with {{=target.username}}
{{pass}}
{{end}}

{{block title_meta}}
Step 2 of 3
{{end}}

{{block form}}
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Items offered<span class="panel-meta">(required)</span></h1>
      </div>
      <table class="wanted-items table list-editor-table">
        {{for item in offered_items:}}
        <tr>
          <td>{{=icon_for_item_type(item.itm_type)}} {{=item.name}}</td>
          <td>
            <form method="post" action="{{=URL('remove_offered_item', args=[prop.id, item.id])}}">
              <input type="submit" class="btn btn-default btn-sm" value="Remove this item" />
            </form>
          </td>
        </tr>
        {{pass}}
        <tr>
          {{if len(offered_items)>0:}}<th colspan="2">{{else:}}<th>{{pass}}
            <a href="{{=URL('add_offered_item', args=prop.id)}}" class="btn btn-default create-box">
              <span class="glyphicon glyphicon-save-file"></span>
              Add one of your own items
            </a>
          </th>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Items requested in return<span class="panel-meta">(optional)</span></h1>
      </div>
      <table class="wanted-items table list-editor-table">
        {{for item in requested_items:}}
        <tr>
          <td>{{=icon_for_item_type(item.itm_type)}} {{=item.name}}</td>
          <td>
            <form method="post" action="{{=URL('remove_requested_item', args=[prop.id, item.id])}}">
              <input type="submit" class="btn btn-default btn-sm" value="Remove this item" />
            </form>
          </td>
        </tr>
        {{pass}}
        <tr>
          {{if len(requested_items)>0:}}<th colspan="2">{{else:}}<th>{{pass}}
            <a href="{{=URL('add_requested_item', args=prop.id)}}" class="btn btn-default create-box">
              <span class="glyphicon glyphicon-save-file"></span>
              Add one of {{=target.username}}&rsquo;s items
            </a>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary{{if not len(offered_items):}} disabled{{pass}}" href="{{=URL('confirm', args=prop.id)}}">
      Include these items in this proposal
    </a>
    <form class="inline-block" method="post" action="{{=URL('cancel', args=prop.id)}}">
      <input type="submit" class="btn btn-default" value="Cancel this trade" />
    </form>
  </div>
</div>
{{end}}
