{{response.title = "My Trades"}}
{{extend 'grid.html'}}

{{block toolbox}}
<div class="btn-group">
  <a class="btn btn-default{{if no_items:}} disabled{{pass}}" href="{{=URL('trade', 'new')}}">
    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
    Propose a trade
  </a>
</div>
{{end}}

{{block grid}}
<div class="col-xs-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Trade proposals sent</h1>
    </div>
    <table class="table list-editor-table">
      {{if not len(sent_proposals):}}
      <tr>
        <td>No proposals sent</td>
      </tr>
      {{pass}}
      {{for prop in sent_proposals:}}
      {{target = db.auth_user(prop.target)}}
      <tr>
        <td>
          <a href="{{=URL('view', args=prop.id)}}">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>{{=target.username}}</span>
          </a>
        </td>
        <td>
          {{if prop.status == 'sent':}}
          <span class="label label-info">Sent</span>
          {{elif prop.status == 'accepted':}}
          <span class="label label-success">Accepted</span>
          {{elif prop.status == 'rejected':}}
          <span class="label label-danger">Rejected</span>
          {{else:}}
          <span class="label label-default">{{=prop.status.capitalize()}}</span>
          {{pass}}
        </td>
      </tr>
      {{pass}}
    </table>
  </div>
</div>
<div class="col-xs-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Trade proposals received</h1>
    </div>
    <table class="table list-editor-table">
      {{if not len(received_proposals):}}
      <tr>
        <td>No proposals received</td>
      </tr>
      {{pass}}
      {{for prop in received_proposals:}}
      {{sender = db.auth_user(prop.sender)}}
      <tr{{if prop.status == 'sent':}} class="highlight"{{pass}}>
        <td>
          <a href="{{=URL('view', args=prop.id)}}">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>{{=sender.username}}</span>
        </a>
        </td>
        <td>
          {{if prop.status == 'sent':}}
          <span class="label label-info">Received</span>
          {{elif prop.status == 'accepted':}}
          <span class="label label-success">Accepted</span>
          {{elif prop.status == 'rejected':}}
          <span class="label label-danger">Rejected</span>
          {{else:}}
          <span class="label label-default">{{=prop.status.capitalize()}}</span>
          {{pass}}
        </td>
      </tr>
      {{pass}}
    </table>
  </div>
</div>
{{end}}
