{{response.title = "Trade proposal from " + sender.username}}
{{show_toolbox = prop.status == 'sent'}}
{{extend 'grid.html'}}

{{block title}}
Trade proposal from {{=sender.username}}
{{end}}

{{block toolbox}}
  <form class="inline-block" action="{{=URL('accept', args=prop.id)}}" method="post">
    <input type="submit" class="btn btn-success" value="Accept proposal">
  </form>
  <form class="inline-block" action="{{=URL('reject', args=prop.id)}}" method="post">
    <input type="submit" class="btn btn-danger" value="Reject proposal">
  </form>
  <form class="inline-block" action="{{=URL('counter', args=prop.id)}}" method="post">
    <input type="submit" class="btn btn-default" value="Make a counter-offer">
  </form>
{{end}}

{{block grid}}
<div class="col-xs-12">
  {{if prop.status == 'accepted':}}
  <div class="alert alert-success">
    You have accepted this trade proposal.
    A notification has been sent to {{=sender.username}} and they should contact you soon by email.
  </div>
  {{elif prop.status == 'rejected':}}
  <div class="alert alert-danger">
    You have rejected this trade proposal.
  </div>
  {{pass}}
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Items offered by {{=sender.username}}</h1>
        </div>
        <table id="wanted-items" class="table list-editor-table">
          {{for item in offered_items:}}
          <tr>
            <td>
              <a href="{{=URL('item', 'view', args=item.id)}}">
              {{=icon_for_item_type(item.itm_type)}} <span>{{=item.name}}</span>
              </a>
            </td>
          </tr>
          {{pass}}
        </table>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Items requested from your collection</h1>
        </div>
        <table id="wanted-items" class="table list-editor-table">
          {{for item in requested_items:}}
          <tr>
            <td>
              <a href="{{=URL('item', 'view', args=item.id)}}">
              {{=icon_for_item_type(item.itm_type)}} <span>{{=item.name}}</span>
              </a>
            </td>
          </tr>
          {{pass}}
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}
