{{extend 'grid2.html'}}

{{block title}}
Explore
{{end}}


{{block grid2}}
{{for explorable in explorables:}}
<div class="row">
  {{boxes=explorable}}
  {{=H2(boxes.label,_class="col-xs-12")}}
  <div class="lb-grid-list col-xs-12">
      {{include "find/list.html"}}
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-12">

<div class="panel panel-default explore-panel">
  <div class="panel-heading">
    {{boxes=explorable}}
    {{=boxes.label}}
  </div>
  <div class="lb-grid-list panel-body row">
    {{include "find/list.html"}}
  </div>
</div>
</div>
</div> -->

{{pass}}
{{end}}
