{{for user in users:}}
<div class="col-xs-3">
  <div class="thumbnail explore-thumbnail user-preview preview">
    <a data-toggle="tooltip" title="View Profile" class="preview-name" href="{{=URL('default','profile_page',vars=dict(user=user.id))}}">
      <span class="preview-icon glyphicon glyphicon-user"></span>
      <span>{{=user.username}}</span>
    </a>
    <hr/>
    {{item=user}}
    {{item_list=users}}
    {{include 'find/explore-info.html'}}
    <div class="clearfix"></div>
  </div>
</div>
{{pass}}
