
{{if auth.user is not None and False:}} <!-- Hiding this option for now-->
{{newvars=Storage(request.vars)}}
  {{if request.vars.owner == str(auth.user.id):}}
  {{newvars.owner=""}}
  <a href="{{=URL('search',vars=newvars)}}">All items</a>
  {{else:}}
  {{newvars.owner=auth.user.id}}
  <a href="{{=URL('search',vars=newvars)}}">My items only</a>
  {{pass}}
{{pass}}

{{=filter_form}}

<script>
jQuery(function($) {  // clears form when reset button pressed
    $('#filter-reset').click(function () {
        $('form[name="filter-form"]')
            .find(':radio, :checkbox').removeAttr('checked').end()
            .find('textarea, :text[name!=query], select').val('').end()
            .find('input[type=number]').val('')
            $('form[name="filter-form"]').submit()
        return false;
    });
});
</script>
