{{width = globals().get('dialog_width', 8)}}
{{offset = (12 - width) / 2}}
{{extend 'layout.html'}}


<div class="row">
  <div class="col-xs-{{=width}} col-xs-offset-{{=offset}}">
    {{block pre_dialog}}{{end}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">{{block title}}{{=response.title}}{{end}}<span class="panel-meta">{{block title_meta}}{{end}}</span></h1>
      </div>
      <div class="panel-form">
        {{block form}}{{end}}
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
      formmodified=0;
      $('.panel-form form').change(function(){
          formmodified=1;
      });
      window.onbeforeunload = confirmExit;
      function confirmExit() {
          if (formmodified == 1) {
              return "New information not saved. Do you wish to leave the page?";
          }
      }
      $("input[type='submit']").click(function() {
          formmodified = 0;
      });
  });
</script>
