{{for item in items:}}
  <div class="col-xs-3">
    <div class="thumbnail">
      <a href="{{=URL('item', 'view', args=item.id)}}" class="preview-name">{{=item.name}}</a>
      <a class="preview-image" href="{{=URL('item', 'view', args=item.id)}}">
        <img alt="" src="{{=URL('item', 'image', args=item.thumbnail)}}">
      </a>
      <div class="preview-detail">{{=item.itm_type}}</div>
      <div class="preview-detail">£{{=format_pence_as_pounds(item.monetary_value)}}</div>
      <a class="preview-secondary-link" href="{{=URL('item', 'view', args=item.id)}}">View item</a>
    </div>
  </div>
{{pass}}
