{{for item in items):}}
  <div class="col-xs-3">
    <div class="thumbnail explore-thumbnail item-preview preview">
      <a data-toggle="tooltip" title="{{=item.name}}" href="{{=URL('item', 'view', args=item.id)}}" class="preview-name">{{=item.name}}</a>
      <a data-toggle="tooltip" title="Description: {{=item.description if (item.description is not None and item.description != '') else "No Description Provided"}}" class="preview-image" href="{{=URL('item', 'view', args=item.id)}}">
        <img alt="Item page for {{=item.name}}" src="{{=URL('item', 'image', args=item.thumbnail)}}"/>
      </a>
      {{item_list=items}}
      {{include 'find/explore-info.html'}}
      <div class="clearfix"></div>
      <hr/>
      <a class="preview-secondary-link" href="{{=URL('item', 'view', args=item.id)}}">View item</a>
    </div>
  </div>
{{pass}}
