.navbar {
  border-radius:0;
}

.dropdown-user-icon {
  margin-right:2px;
  display:inline-block;
  width:14px;
}

#main {
  margin-top:20px;
}

#home-picture {
  width:910px;
  height:290px;
  /* Image source: https://www.flickr.com/photos/pio1976/3330670980/ */
  background-image: url(../images/shelves.jpg);
  position:relative;
  margin-bottom:20px;
}

#home-picture-overlay {
  position:absolute;
  top:60px;
  left:170px;
  right:170px;
  height:120px;

  background-color:rgba(0,0,0,0.6);
  color:white;
  text-align:center;
  border-radius:15px;
}

#home-picture-overlay span {
  font-size:22px;
}

div.panel div.panel-form {
  margin:20px;
}

#notif-label {
  font-size:100%;
  font-weight:normal;
}

.active #notif-label {
  color:inherit;
  background-color:transparent;
}

#notif-label .glyphicon {
  margin-right:4px;
  position:relative;
  top:2px;
  display:inline-block;
  width:14px;
}

div.flash:hover {
  cursor:pointer;
}

div.flash span#closeflash {
  float:right;
}

#toolbox {
  text-align:right;
  margin-top:4px;
}

#toolbox .btn {
  font-size:13px;
}

#toolbox .btn-group {
  margin-left:5px;
}

h1.main-title {
  font-size:32px;
  margin-top:0;
  margin-bottom:0;
}

h1.main-title .glyphicon {
  font-size:28px;
  margin-right:2px;
}

#header-row {
  margin-bottom:20px;
}

#add-remove-menu {
  font-size:13px;
}

#add-remove-menu .glyphicon {
  margin-right:4px;
}

.dropdown-menu a.disabled {
  pointer-events:none;
  color:#dbdbdb;
}

.lb-grid-list. {
  list-style:none;
  padding:0;
}

.lb-grid-list .thumbnail {
  text-align:center;
  position:relative;
}

.lb-grid-list .thumbnail .preview-image {
  display:block;
  max-height:195px;
  overflow:hidden;
  margin-bottom:5px;
}

.lb-grid-list .thumbnail .preview-name, .lb-grid-list .thumbnail .preview-detail {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.lb-grid-list .thumbnail .preview-name {
  font-size:16px;
  color:#333;
  margin-bottom:5px;
}

.lb-grid-list .thumbnail .preview-detail {
  margin-bottom:2px;
}

.lb-grid-list .thumbnail .preview-secondary-link {
  display:block;
  margin-bottom:5px;
}

.lb-grid-list .thumbnail a .preview-icon {
  font-size:48px;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  color:#777;
}

.lb-grid-list .thumbnail a:hover .preview-icon {
  color:#333;
}

.lb-grid-list .thumbnail.box-preview a:hover {
  text-decoration:none;
}

.lb-grid-list .thumbnail.box-preview a:hover div {
  text-decoration:underline;
}

.box-preview .private-indicator {
  position:absolute;
  left:5px;
  top:5px;
}

.box-preview .box-attribute-label {
  float:left;
  margin: 2px;;
}

.confirmation-form .btn {
  margin-right:5px;
}

.explore-panel .panel-heading {
  font-size: 18px;
}

.explore-panel .panel-body {
  padding:5px;
}

.explore-thumbnail {
  min-height: 200px;
}

.explore-thumbnail hr {
  margin: 20px 0;
  border-color: #bbb;
}

.tooltip-inner {
  text-decoration: none;
}

.notif-item h2 {
  font-size: 22px;
  font-weight: normal;
}

.notif-item.new h2 {
  font-weight: bold;
}

.notif-item .notif-meta {
  float: right;
}

.empty-screen.alert {
  margin-top: 60px;
}

#search-query
{
  width:200px;
}

.new-type-btn {
  display:block;
}

.new-type-btn .glyphicon {
  display:block;
  font-size:42px;
  margin-bottom:8px;
}

.panel-heading .panel-meta {
  float:right;
  font-weight:normal;
}

#item-info tr td:first-child {
    width:130px;
    text-align:right;
    font-weight:bold;
}

#item-info tr td ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

#item-info-panel, #item-cover {
    margin-top:10px;
}

#item-boxes-panel .panel-heading a.btn {
    float:right;
    position:relative;
    top:-4px;
    left:6px;
}

#item-boxes td:first-child {
    vertical-align:middle;
    font-size:16px;
}

#item-boxes td:first-child .glyphicon {
    margin-left:8px;
    margin-right:8px;
    font-size:22px;
    line-height:16px;
    top:4px;
}

#item-boxes td:last-child {
    text-align:right;

}

.hide-label
{
position: absolute;
left: 0;
top: -500px;
width: 1px;
height: 1px;
overflow: hidden;
}

.btn-label {
    font-size: 0;
    height: 1px;
    overflow: hidden;
    display: block;
}
