{{extend 'grid.html'}}

{{block title}}
My Boxes
{{end}}

{{block toolbox}}
<div class="btn-group">
  <a class="btn btn-default" href="{{=URL('box', 'new')}}">
    <span class="glyphicon glyphicon-plus"></span>
    Create a new box
  </a>
  <a class="btn btn-default" href="{{=URL('item', 'new')}}">
    <span class="glyphicon glyphicon-plus"></span>
    Add a new item
  </a>
</div>
{{end}}

{{block grid}}
{{for box in boxes:}}
<div class="col-xs-3">
  <div class="thumbnail preview">
    <a class="preview-name" href="{{=URL('box', 'view/' + str(box.id))}}">
      {{if box.private: }}
        <span class="private-indicator label label-primary"><span class="glyphicon glyphicon-lock"></span> Private</span>
      {{pass}}
      <span class="preview-icon glyphicon glyphicon-inbox"></span>
      <div>{{=box.name}}</div>
    </a>
  </div>
</div>
{{pass}}
<div class="col-xs-3">
  <div class="thumbnail box-preview preview create-box">
    <a class="preview-name" href="{{=URL('box', 'new')}}">
      <span class="preview-icon glyphicon glyphicon-plus"></span>
      <div>Create a new box</div>
    </a>
  </div>
</div>
{{end}}
