{{extend 'grid.html'}}

{{block title}}
{{if box.private:}}
<span class="glyphicon glyphicon-lock"></span>
{{else:}}
<span class="glyphicon glyphicon-inbox"></span>
{{pass}}
{{=box.name}}
{{end}}

{{block toolbox}}
<div class="btn-group">
  <a class="btn btn-default" href="{{=URL('edit', args=box.id)}}">
    <span class="glyphicon glyphicon-pencil"></span>
    Edit box
  </a>
  <a class="btn btn-default{{if box.unfiled:}} disabled{{pass}}" href="{{=URL('delete', args=box.id)}}">
    <span class="glyphicon glyphicon-trash"></span>
    Delete box
  </a>
</div>
<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Insert, remove or add items <span class="caret"></span>
  </button>
  <ul id="add-remove-menu" class="dropdown-menu dropdown-menu-right">
    <li><a href="{{=URL('add_item', args=box.id)}}"><span class="glyphicon glyphicon-log-in"></span> Insert an item into this box</a></li>
    <li><a href="{{=URL('remove_item', args=box.id)}}"><span class="glyphicon glyphicon-log-out"></span> Remove an item from this box</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{{=URL('item', 'new', args=box.id)}}"><span class="glyphicon glyphicon-plus"></span> Add a new item here</a></li>
  </ul>
</div>
{{end}}

{{block grid}}
{{include 'item-preview.html'}}
{{end}}
