{{show_toolbox = not guest}}
{{extend 'grid.html'}}

{{block title}}
{{if box.private:}}
<span class="glyphicon glyphicon-lock"></span>
{{else:}}
<span class="glyphicon glyphicon-inbox"></span>
{{pass}}
{{=box.name}}
{{end}}

{{block toolbox}}
<div class="btn-group">
  <a class="btn btn-default" href="{{=URL('edit', args=box.id)}}">
    <span class="glyphicon glyphicon-pencil"></span>
    Edit box
  </a>
  <a class="btn btn-default{{if box.unfiled:}} disabled{{pass}}" href="{{=URL('delete', args=box.id)}}">
    <span class="glyphicon glyphicon-trash"></span>
    Delete box
  </a>
</div>
<div class="btn-group">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Insert, remove or add items <span class="caret"></span>
  </button>
  <ul id="add-remove-menu" class="dropdown-menu dropdown-menu-right">
    <li><a{{if full:}} class="disabled"{{pass}} href="{{=URL('insert_item', args=box.id)}}"><span class="glyphicon glyphicon-log-in"></span> Insert an item into this box</a></li>
    <li><a{{if len(items) == 0:}} class="disabled"{{pass}} href="{{=URL('remove_item', args=box.id)}}"><span class="glyphicon glyphicon-log-out"></span> Remove an item from this box</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{{=URL('item', 'new', args=box.id)}}"><span class="glyphicon glyphicon-plus"></span> Add a new item here</a></li>
  </ul>
</div>
{{end}}

{{block grid}}
{{if not len(items):}}
<div class="col-xs-8 col-xs-offset-2">
  <div class="alert empty-screen alert-warning">
    <p><strong>This box is empty.</strong></p>
    <p>You can add items to this box, or create items here, using the <em>Insert, remove or add items</em> button on the top-left of this page.</p>
  </div>
</div>
{{else:}}
{{include 'item-preview.html'}}
{{pass}}
{{end}}
