{{extend 'dialog.html'}}

{{block title}}
Add a new want item
{{end}}

{{block title_meta}}
Step 1 of 2
{{end}}

{{block form}}
<p>Select the type of want item you wish to add:</p>
<div class="row">
  <div class="col-xs-3">
    <a class="new-type-btn btn btn-default" href="{{=URL('new_item_of_type', args='book', vars=request.vars)}}">
      {{=icon_for_item_type('book')}}
      {{=ITEM_TYPES['book'].capitalize()}}
    </a>
  </div>
  <div class="col-xs-3">
    <a class="new-type-btn btn btn-default" href="{{=URL('new_item_of_type', args='cd', vars=request.vars)}}">
      {{=icon_for_item_type('cd')}}
      {{=ITEM_TYPES['cd'].capitalize()}}
    </a>
  </div>
  <div class="col-xs-3">
    <a class="new-type-btn btn btn-default" href="{{=URL('new_item_of_type', args='dvd', vars=request.vars)}}">
      {{=icon_for_item_type('dvd')}}
      {{=ITEM_TYPES['dvd'].capitalize()}}
    </a>
  </div>
  <div class="col-xs-3">
    <a class="new-type-btn btn btn-default" href="{{=URL('new_item_of_type', args='game', vars=request.vars)}}">
      {{=icon_for_item_type('game')}}
      {{=ITEM_TYPES['game'].capitalize()}}
    </a>
  </div>
</div>
{{end}}
